@model ProductSpecificationModel

@using Nop.Core.Domain.Catalog;

@if (Model.Groups.SelectMany(g => g.Attributes).ToList().Count > 0)
{
    @foreach (var group in Model.Groups)
    {
        @if ((group.Name is not null && group.Name.ToLower() != "color") && group.Attributes.Count > 0)
        {
            <div class="table-responsive mb-4 fs-sm">

                <table class="table table-headerless table-sm">

                    @if (group.Id > 0)
                    {
                        <div class="mb-2">
                            <h3 class="fs-5">@group.Name</h3>
                        </div>
                    }

                    <thead style="visibility:collapse">
                        <tr>
                            <th width="30%"><span>@T("Products.Specs.AttributeName")</span></th>
                            <th><span>@T("Products.Specs.AttributeValue")</span></th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < group.Attributes.Count; i++)
                        {
                            var attr = group.Attributes[i];

                            <tr>
                                <td>
                                    @attr.Name
                                </td>
                                <td>
                                    @for (int j = 0; j < attr.Values.Count; j++)
                                    {
                                        var value = attr.Values[j];

                                        @if (!string.IsNullOrEmpty(value.ColorSquaresRgb) && (value.AttributeTypeId == (int)SpecificationAttributeType.Option))
                                        {
                                            <div class="attribute-squares color-squares attribute-squares-padding">
                                                <span class="attribute-square-container" title="@Html.Raw(value.ValueRaw)">
                                                    <span class="attribute-square" style="background-color: @(value.ColorSquaresRgb);">&nbsp;</span>
                                                </span>
                                            </div>
                                        }
                                        else
                                        {
                                            @Html.Raw(value.ValueRaw)
                                            if (j != attr.Values.Count - 1)
                                            {
                                                <text>,&nbsp;</text>
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    
                    
                    </tbody>
                </table>
            </div>
        }
    }

}

<!-- Remove -->
@*<div class="title">
    <strong>@T("Products.Specs")</strong>
</div>*@