<section class="mb-0 py-6" style="background-image:url(/images/home/goya-team-2.jpg);background-size:cover;background-repeat:no-repeat;background-position:center center;">
    <div class="container">
        <div class="row flex-column justify-content-between" style="min-height:30rem;">
            <div class="col-12">
                <div class="text-center mb-5">
                    <h3 class="text-light display-7 mb-2">@T("goya.theme.section.contactus.title.text")</h3>
                    <p class="text-light fw-light fs-5 mb-0">
                        <a href="mailto:comercial@ggoya.com" class="text-light">comercial@ggoya.com</a> | Tel: <a href="tel:+34976463370" class="text-light">+34 976 463 370</a>
                    </p>
                </div>
            </div>
            <div class="col-12 text-center text-light">
                <h4 class="text-light fs-5 fw-light mb-4">
                    @T("goya.theme.section.contactus.team.title.text")
                </h4>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 px-4 mb-5">@T("goya.theme.section.contactus.team1.text")</div>
                    <div class="col-lg-4 col-md-6 col-12 px-4 mb-5">@T("goya.theme.section.contactus.team2.text")</div>
                    <div class="col-lg-4 col-md-6 col-12 px-4 mb-5">@T("goya.theme.section.contactus.team3.text")</div>
                    <div class="col-lg-4 col-md-6 col-12 px-4 mb-md-0 mb-5">@T("goya.theme.section.contactus.team4.text")</div>
                    <div class="col-lg-4 col-md-6 col-12 px-4 mb-md-0 mb-5">@T("goya.theme.section.contactus.team5.text")</div>
                    <div class="col-lg-4 col-md-6 col-12 px-4">
                        @T("goya.theme.section.contactus.team6.text")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>