<section class="tns-carousel tns-controls-md banner-home">
    <!-- Hero slider-->
    <div class="tns-carousel-inner banner-home__inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;responsive&quot;: {&quot;0&quot;:{&quot;nav&quot;:true, &quot;controls&quot;: false},&quot;992&quot;:{&quot;nav&quot;:false, &quot;controls&quot;: true}}}">
        <div class="banner-home__item" style="background-color:@T("goya.theme.home.banner-6-1.bgcolor");">
            <div class="banner-home__container container">
                <div class="banner-home__content">
                    <div class="banner-home__gallery">
                        <img class="banner-home__image" src="@T("goya.theme.home.banner-6-1.image")" alt="@T("goya.theme.home.banner-6-1.title.text")">
                    </div>
                    <div class="banner-home__data">
                        <h2 class="display-3 banner-home__title from-top delay-1">@T("goya.theme.home.banner-6-1.title.text")</h2>
                        @* <p class="banner-home__text mb-3 from-top delay-2">@T("goya.theme.home.banner-6-1.title.p1")</p> *@
                        <h3 class="display-7 banner-home__title from-top delay-2 mb-5">@T("goya.theme.home.banner-6-1.title.p1")</h3>
                        <p class="banner-home__text from-top delay-3">@T("goya.theme.home.banner-6-1.title.p2")</p>
                        <div class="banner-home__actions scale-up delay-4"><a class="btn btn-light" href="@T("goya.theme.home.banner-6-1.link.href")" target="_blank">@T("goya.theme.home.banner-6-1.link.text")</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>