@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-change-password-page");
    var returnUrl = Context.Request.Query["returnUrl"];
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

@*Customer breadcrumb*@
@section Breadcrumb
{
    <div class="page-title page-title--overlap">
        <div class="page-title__container">
            <div class="page-title__navigation">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li class="breadcrumb-item">
                            <a class="text-nowrap" href="@Url.RouteUrl("Homepage")" title="@T("Categories.Breadcrumb.Top")"><i class="bi bi-house-door"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item text-nowrap active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span class="current-item" itemprop="name">@T("Account.MyAccount") - @T("Account.ChangePassword")</span>
                            <span itemprop="item" itemscope itemtype="http://schema.org/Thing" id="@Url.RouteUrl("CustomerChangePassword")"></span>
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBreadcrumbAfter, additionalData = Model })
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="page-title__text">
                <h1 class="h3 mb-0">@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
            </div>
        </div>
    </div>
}

<div class="page account-page change-password-page">
    <div class="mb-4">

        <h3 class="title mb-4">@T("Account.ChangePassword")</h3>

        <form asp-route="CustomerChangePassword" method="post" autocomplete="off" asp-route-returnurl="@returnUrl">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="mb-4">
                <div class="mb-3">
                    <label asp-for="OldPassword" asp-postfix=":" class="form-label"></label>
                    <nop-required />
                    <span asp-validation-for="OldPassword"></span>
                    <input asp-for="OldPassword" class="form-control w-100" placeholder="@T("account.changepassword.fields.oldpassword")" />
                </div>
                <div class="mb-3">
                    <label asp-for="NewPassword" asp-postfix=":" class="form-label"></label>
                    <nop-required />
                    <span asp-validation-for="NewPassword"></span>
                    <input asp-for="NewPassword" class="form-control w-100" placeholder="@T("account.changepassword.fields.newpassword")" />
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmNewPassword" asp-postfix=":" class="form-label"></label>
                    <nop-required />
                    <span asp-validation-for="ConfirmNewPassword"></span>
                    <input asp-for="ConfirmNewPassword" class="form-control w-100" placeholder="@T("account.changepassword.fields.confirmnewpassword")" />
                </div>
            </div>
            <div class="text-end">
                <button type="submit" class="button-1 change-password-button btn btn-primary">@T("Account.ChangePassword.Button")</button>
            </div>
        </form>
    </div>
</div>