@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}

@*register/identification breadcrumb*@
@section Breadcrumb
{
    <div class="page-title page-title--overlap">
        <div class="page-title__container">
            <div class="page-title__navigation">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li class="breadcrumb-item">
                            <a class="text-nowrap" href="@Url.RouteUrl("Homepage")" title="@T("Categories.Breadcrumb.Top")"><i class="bi bi-house-door"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item text-nowrap active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span class="current-item" itemprop="name">@T("Account.PasswordRecovery")</span>
                            <span itemprop="item" itemscope itemtype="http://schema.org/Thing" id="@Url.RouteUrl("PasswordRecovery")"></span>
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBreadcrumbAfter, additionalData = Model })
                        </li>
                    </ol>
                </nav>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsAfterBreadcrumb, additionalData = Model })
            </div>
            <div class="page-title__text">
                <h1 class="h3 mb-0">@T("Account.PasswordRecovery")</h1>
            </div>
        </div>
    </div>
}


<div class="page password-recovery-page container">
    <div class="row">
        <div class="col-12">
            <div class="mb-5">
                @if (!string.IsNullOrEmpty(Model.Result))
                {
                    <div class="result mb-5">
                        @Model.Result
                    </div>
                    <div class="buttons">
                        <a href="@Model.ReturnUrl" class="button-1 btn btn-primary">@T("Common.Continue")</a>
                    </div>
                }
                @if (!Model.DisablePasswordChanging)
                {
                    <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <div class="fieldset col-6 offset-2 mb-4">
                            <div class="form-fields card py-2 mt-4">
                                <div class="card-body">
                                    <div class="inputs mb-3">
                                        <label asp-for="NewPassword" asp-postfix=":" class="form-label"></label>
                                        <nop-required />
                                        <input asp-for="NewPassword" class="form-control w-100" />
                                        <span asp-validation-for="NewPassword"></span>
                                    </div>
                                    <div class="inputs">
                                        <label asp-for="ConfirmNewPassword" asp-postfix=":" class="form-label"></label>
                                        <nop-required />
                                        <input asp-for="ConfirmNewPassword" class="form-control w-100" />
                                        <span asp-validation-for="ConfirmNewPassword"></span>
                                    </div>
                                    <div class="buttons text-end pt-4">
                                        <button type="submit" name="set-password" class="button-1 new-password-button btn btn-primary">@T("Account.PasswordRecovery.ChangePasswordButton")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                }
            </div>
        </div>
    </div>
</div>