@model RegisterModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-registration-page");
}

<div class="page registration-page container-fluid mt-4 mb-5">
    <h1 class="page-title py-2 py-lg-3">@T("Account.Register")</h1>
    <div class="page-body">
        <form asp-route="Register" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="row">
                <div class="fieldset col-6">
                    <h2 class="title mb-2">
                        @T("Account.YourPersonalDetails")
                    </h2>
                    <div class="form-fields">
                        @if (Model.GenderEnabled)
                        {
                            <div class="mb-3">
                                <label for="gender">@T("Account.Fields.Gender"):</label>
                                <div id="gender" class="gender">
                                    <span class="male form-check">
                                        <input class="form-check-input" type="radio" asp-for="Gender" value="M" checked="@(Model.Gender == "M")" id="gender-male" />
                                        <label class="forcheckbox form-check-label" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                    </span>
                                    <span class="female form-check">
                                        <input class="form-check-input" type="radio" asp-for="Gender" value="F" checked="@(Model.Gender == "F")" id="gender-female" />
                                        <label class="forcheckbox form-check-label" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                    </span>
                                </div>
                            </div>
                        }
                        @if (Model.FirstNameEnabled)
                        {
                            <div class="mb-3">
                                <label asp-for="FirstName" asp-postfix=":" class="form-label"></label>
                                @if (Model.FirstNameRequired)
                                {
                                    <nop-required />
                                }
                                <input asp-for="FirstName" class="form-control w-100" placeholder="@T("account.fields.firstname")"/>
                                <span asp-validation-for="FirstName"></span>
                            </div>
                        }
                        @if (Model.LastNameEnabled)
                        {
                            <div class="mb-3">
                                <label asp-for="LastName" asp-postfix=":" class="form-label"></label>
                                @if (Model.LastNameRequired)
                                {
                                    <nop-required />
                                }
                                <input asp-for="LastName" class="form-control w-100" placeholder="@T("account.fields.lastname")"/>
                                <span asp-validation-for="LastName"></span>
                            </div>
                        }
                        @if (Model.DateOfBirthEnabled)
                        {
                            <div class="inputs date-of-birth input-group mb-3">
                                <label class="w-100">@T("Account.Fields.DateOfBirth"):</label>
                                <nop-date-picker asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                                 asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                                 asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                                 asp-begin-year="@(DateTime.Now.AddYears(-110))"
                                                 asp-end-year="@(DateTime.UtcNow)"
                                                 asp-selected-date="@Model.ParseDateOfBirth()" class="form-control rounded-start"/>

                                @if (Model.DateOfBirthRequired)
                                {
                                    <nop-required />
                                }
                                <span asp-validation-for="DateOfBirthDay"></span>
                                <span asp-validation-for="DateOfBirthMonth"></span>
                                <span asp-validation-for="DateOfBirthYear"></span>
                            </div>
                        }
                        <div class="mb-3">
                            <label asp-for="Email" asp-postfix=":" class="form-label"></label>
                            <nop-required />
                            <span asp-validation-for="Email"></span>
                            <input asp-for="Email" class="form-control w-100" placeholder="@T("account.fields.email")" />
                        </div>
                        @if (Model.EnteringEmailTwice)
                        {
                            <div class="mb-3">
                                <label asp-for="ConfirmEmail" asp-postfix=":" class="form-label"></label>
                                <input asp-for="ConfirmEmail" class="form-control w-100"/>
                                <nop-required />
                                <span asp-validation-for="ConfirmEmail"></span>
                            </div>
                        }
                        @if (Model.UsernamesEnabled)
                        {
                            <div class="mb-3">
                                <label asp-for="Username" asp-postfix=":" class="form-label"></label>
                                <nop-required />
                                <span asp-validation-for="Username"></span>
                                @if (Model.CheckUsernameAvailabilityEnabled)
                                {
                                    @await Html.PartialAsync("_CheckUsernameAvailability")
                                }
                                <input asp-for="Username" class="form-control w-100"/>
                            </div>

                        }
                    </div>
                </div>
                @if (Model.CompanyEnabled || Model.DisplayVatNumber)
                {
                    <div class="fieldset col-6">
                        <h2 class="title mb-2">
                           @T("Account.CompanyDetails")
                        </h2>
                        <div class="form-fields">
                            @if (Model.CompanyEnabled)
                            {
                                <div class="mb-3">
                                    <label asp-for="Company" asp-postfix=":" class="form-label"></label>
                                    <input asp-for="Company" class="form-control w-100"/>
                                    @if (Model.CompanyRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="Company"></span>
                                </div>
                            }
                            @if (Model.DisplayVatNumber)
                            {
                                <div class="mb-3">
                                    <label asp-for="VatNumber" asp-postfix=":" class="form-label"></label>
                                    <input asp-for="VatNumber" class="form-control w-100"/>
                                    <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (Model.StreetAddressEnabled ||
                 Model.StreetAddress2Enabled ||
                 Model.ZipPostalCodeEnabled ||
                 Model.CityEnabled ||
                 Model.CountyEnabled ||
                 Model.CountryEnabled)
                {
                    <div class="fieldset col-6">
                        <h2 class="title mb-2">
                            @T("Account.YourAddress")
                        </h2>
                        <div class="form-fields">
                            @if (Model.StreetAddressEnabled)
                            {
                                <div class="mb-3">
                                    <label asp-for="StreetAddress" asp-postfix=":" class="form-label"></label>
                                    <input asp-for="StreetAddress" class="form-control w-100"/>
                                    @if (Model.StreetAddressRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StreetAddress"></span>
                                </div>
                            }
                            @if (Model.StreetAddress2Enabled)
                            {
                                <div class="mb-3">
                                    <label asp-for="StreetAddress2" asp-postfix=":" class="form-label"></label>
                                    <input asp-for="StreetAddress2" class="form-control w-100"/>
                                    @if (Model.StreetAddress2Required)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StreetAddress2"></span>
                                </div>
                            }
                            @if (Model.ZipPostalCodeEnabled)
                            {
                                <div class="mb-3">
                                    <label asp-for="ZipPostalCode" asp-postfix=":" class="form-label"></label>
                                    <input asp-for="ZipPostalCode" class="form-control w-100"/>
                                    @if (Model.ZipPostalCodeRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="ZipPostalCode"></span>
                                </div>
                            }
                            @if (Model.CountyEnabled)
                            {
                                <div class="mb-3">
                                    <label asp-for="County" asp-postfix=":" class="form-label"></label>
                                    <input asp-for="County" class="form-control w-100"/>
                                    @if (Model.CountyRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="County"></span>
                                </div>
                            }
                            @if (Model.CityEnabled)
                            {
                                <div class="mb-3">
                                    <label asp-for="City" asp-postfix=":" class="form-label"></label>
                                    <input asp-for="City" class="form-control w-100"/>
                                    @if (Model.CityRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="City"></span>
                                </div>
                            }
                            @if (Model.CountryEnabled)
                            {
                                <div class="mb-3">
                                    <label asp-for="CountryId" asp-postfix=":" class="form-label"></label>
                                    <select asp-for="CountryId" asp-items="Model.AvailableCountries"
                                            data-trigger="country-select"
                                            data-url="@(Url.RouteUrl("GetStatesByCountryId"))"
                                            data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                                            data-loading="#states-loading-progress"></select>
                                    @if (Model.CountryRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="CountryId"></span>
                                </div>
                            }
                            @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                            {
                                <div class="mb-3">
                                    <label asp-for="StateProvinceId" asp-postfix=":" class="form-label"></label>
                                    <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
                                    @if (Model.StateProvinceRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait")</span>
                                    <span asp-validation-for="StateProvinceId"></span>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (Model.PhoneEnabled || Model.FaxEnabled)
                {
                    <div class="fieldset col-6">
                        <h2 class="title mb-2">
                            @T("Account.YourContactInformation")
                        </h2>
                        <div class="form-fields">
                            @if (Model.PhoneEnabled)
                            {
                                <div class="mb-3">
                                    <label asp-for="Phone" asp-postfix=":" class="form-label"></label>
                                    <input asp-for="Phone" class="form-control w-100"/>
                                    @if (Model.PhoneRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="Phone"></span>
                                </div>
                            }
                            @if (Model.FaxEnabled)
                            {
                                <div class="mb-3">
                                    <label asp-for="Fax" asp-postfix=":" class="form-label"></label>
                                    <input asp-for="Fax" class="form-control w-100"/>
                                    @if (Model.FaxRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="Fax"></span>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                {
                    <div class="fieldset col-6">
                        <h2 class="title mb-2">
                            @T("Account.Options")
                        </h2>
                        <div class="form-fields">
                            @if (Model.NewsletterEnabled)
                            {
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input asp-for="Newsletter" class="form-check-input"/>
                                        <label asp-for="Newsletter" class="form-check-label"></label>
                                        <span asp-validation-for="Newsletter"></span>
                                    </div>
                                </div>
                            }
                            @if (Model.CustomerAttributes.Count > 0)
                            {
                                @await Html.PartialAsync("_CustomerAttributes", Model.CustomerAttributes)
                            }
                        </div>
                    </div>
                }
                @if (Model.AllowCustomersToSetTimeZone)
                {
                    <div class="fieldset col-6">
                        <h2 class="title mb-2">
                            @T("Account.Preferences")
                        </h2>
                        <div class="form-fields">
                            <div class="mb-3">
                                <label asp-for="TimeZoneId" asp-postfix=":" class="form-label"></label>
                                <select asp-for="TimeZoneId" asp-items="Model.AvailableTimeZones"></select>
                                <span asp-validation-for="TimeZoneId"></span>
                            </div>
                        </div>
                    </div>
                }
                <div class="fieldset col-6">
                    <h2 class="title mb-2">
                        @T("Account.YourPassword")
                    </h2>
                    <div class="form-fields">
                        <div class="mb-3">
                            <label asp-for="Password" asp-postfix=":" class="form-label"></label>
                            <nop-required />
                            <input asp-for="Password" class="form-control w-100" placeholder="@T("account.fields.password")" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" asp-postfix=":" class="form-label"></label>
                            <nop-required />
                            <input asp-for="ConfirmPassword" class="form-control w-100" placeholder="@T("account.fields.confirmpassword")" />
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <nop-captcha />
                        }
                        @if (Model.HoneypotEnabled)
                        {
                            @Html.Raw(Html.GenerateHoneypotInput())
                        }
                    </div>
                </div>

                @if (Model.AcceptPrivacyPolicyEnabled || Model.GdprConsents.Count > 0)
                {
                    <div class="fieldset col-6">
                        <h2 class="title mb-2">
                            @T("Account.UserAgreement")
                        </h2>
                        <div class="form-fields">
                            @if (Model.AcceptPrivacyPolicyEnabled)
                            {
                                <script asp-location="Footer">
                                    $(document).ready(function() {
                                        $('#register-button').on('click', function() {
                                            if ($('#accept-consent').is(':checked')) {
                                                //do some stuff
                                                return true;
                                            } else {
                                                //just show validation errors, don't post
                                                alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                                return false;
                                            }
                                        });
                                    });
                                </script>
                                <div class="inputs accept-consent">
                                    <input id="accept-consent" type="checkbox" name="accept-consent" />
                                    <label for="accept-consent">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                                    @if (Model.AcceptPrivacyPolicyPopup)
                                    {
                                        <span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                                        <script asp-location="Footer">
                                        $(document).ready(function() {
                                            $('#read-privacyinfo').on('click',
                                                function(e) {
                                                    displayPopupContentFromUrl(
                                                        '@Url.RouteUrl("TopicPopup", new {SystemName = "privacyinfo"})',
                                                        '@T("Account.Fields.AcceptPrivacyPolicy")');
                                                });
                                        });
                                        </script>
                                    }
                                    else
                                    {
                                        <a class="read" id="read-privacyinfo" href="@Url.RouteUrl("Topic", new { SeName = await Html.GetTopicSeNameAsync("privacyinfo") })">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                                    }
                                </div>
                            }

                            @if (Model.GdprConsents.Count > 0)
                            {
                                foreach (var consent in Model.GdprConsents)
                                {
                                    if (consent.IsRequired)
                                    {
                                        <script asp-location="Footer">
                                        $(document).ready(function() {
                                            $('#register-button').on('click', function() {
                                                if ($('#consent@(consent.Id)').is(':checked')) {
                                                        //do some stuff
                                                        return true;
                                                    } else {
                                                        //just show validation errors, don't post
                                                   alert('@Html.Raw(JavaScriptEncoder.Default.Encode(consent.RequiredMessage))');
                                                        return false;
                                                    }
                                                });
                                        });
                                        </script>
                                    }
                                    <div class="inputs accept-consent">
                                        <input id="consent@(consent.Id)" type="checkbox" name="consent@(consent.Id)" checked="@consent.Accepted" />
                                        <label for="consent@(consent.Id)">@consent.Message</label>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                }
            </div>

            <div class="buttons text-end pt-4">
                <button type="submit" name="register-button" id="register-button" class="button-1 register-next-step-button btn btn-primary">@T("Account.Register.Button")</button>
            </div>
        </form>
        <div class="external-authentication">
            @await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication")
        </div>
    </div>
</div>